
 
.menu-bg{
    background-color:  #B0A3D4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.title_nav{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black; 
}

.titles_light{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
}

.elements_light{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}



p {
   color: #7D80DA;
}

.icono{
    color: #7D80DA;
}

.modo_dark{
background-color: #444442;
}



.btn-mode{
    cursor: pointer;
}

#submit_btn{
    background-color: #B0A3D4;
    
}

.border-delete{
    text-decoration: none;
    color: red;
    cursor: pointer;
}

.border-edit{
   text-decoration: none;
    color: green;
    cursor: pointer;
}